__pycache__
*.py[cod]
*~
.venv/
*.log
*.sql
*.sqlite3
*.db
.vscode/
.DS_Store
Thumbs.db
.cache/
.git/
.gitignore
*.bak
*.old
*.swp
*.swo
*.tmp
*.pid
*.class
*.exe
*.com
*.bat
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
docker/
Dockerfile
.dockerignore
README.md
docker-compose.yml