# Python
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/

# Virtual Environments
.venv/

# Env files
.env

# Alembic migrations
/migrations/versions/*

# Pytest
/.pytest_cache/
/htmlcov/
/.coverage
test.db
/tests/results/

# Mypy
/.mypy_cache/

# Minio
/minio_data/